<div class="create-post-container">
  <div class="head-line">
    <a routerLink="/posts" class="back-link">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h1 class="centered-title">Créer un nouveau post</h1>
  </div>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
            <mat-label>Thème</mat-label>
            <mat-select formControlName="topicId" required>
              <ng-container *ngIf="topics$ | async as topics">
                <mat-option *ngFor="let topic of topics" [value]="topic.id">
                  {{topic.title}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Titre</mat-label>
            <input matInput formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Contenu</mat-label>
            <textarea matInput formControlName="content" rows="10" required></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.valid" class="submit-button">
            Créer le post
        </button>
    </form>
</div>